body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color:#121212;
    color: white;
    font-family:arial;
}

.display {
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;

    font-size: 28px;
}

.display img {
    max-width: 25vw;
    max-height: 25vh
}

.display .title {
    background-color: #030303;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-right: 5vw;
    padding-left: 5vw;
    text-align: center;
}

.display .info {
    text-align: center;
    background-color: #252525;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.browser-border {
    padding-top: 10px;
    border-style: solid;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-color: #343434;
    background-color: #535353;
}

.content {
    display: flex;
    flex-direction: row;
}

.form {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: column;
}

.form * {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #252525;
    padding: 0;
    height: 64px;
}

.navbar * {
    margin: 10px;
    
}

.accounts {
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}

button, .btn {
    background-color: #191919;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 10px;
    color: white;
}

button:hover, .btn:hover {
    background-color: #38312b;
    color:white;
}

.navbar .logo img{
    margin-left: 0;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    align-self: center;
    justify-content: center;
    max-width: 128px;
    max-height: 38px;
    
}

.navbar .logo{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 128px;
    max-height: 38px;
}

input {
    background-color: #353535;
    color: white;
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
}