.content {
    display: flex;

    flex-direction: row;

    flex-grow: 1;

    width: 100%;

    align-content: center;

    overflow: hidden;

    height: 92vh;

    margin: 0;

    border-width: 0;

    background-color: #212121;

}

body, html {
    margin: 0;
    color: white;
    background-color: #212121;
    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

button, .btn {
    background-color: #191919;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 10px;
    color: white;
}

button:hover, .btn:hover {
    background-color: #38312b;
    color:white;
}

.file, .folder {
    width: 280px;

    height: 280px;

    flex-shrink: 0;

    display: flex;

    flex-direction: column;

    text-align: center;

    padding: 0;

    border-width: 1px;

    background-color: transparent;

    border-color: transparent;

    white-space: nowrap;

    overflow: hidden;

    text-overflow: ellipsis;
}

.selected {
    border-style: solid !important;
    border-color: lightblue !important;
    border-width: 4px;
}

* {
    box-sizing: border-box;
}

.files {
    overflow: auto;

    margin-right: 1rem;
    margin-left: 1rem;

    flex-shrink: 0;

    flex-wrap: wrap;

    width: auto;

    flex: auto;

    display: flex;

    flex-direction: row;

}

.file-preview {
    height: 256px;

    width: 256px;

    object-fit: scale-down;

    border-width: 1px;

    border-color: black;

    padding: 3px;
}

.tools {
    border-left-style: solid;
    border-width: 1px;
    
    padding: 0;

    width: 17rem;

    display: flex;

    flex-direction: column;
    
    background-color: #191919;

}

.tools .section {
    font-size: 12px;
    border-bottom-style: solid;
    border-bottom-color: darkgray;
    border-width: 1px;
    padding: 1rem;
}

.tooltoggle {
    display: none;
}

.tool-form {
    display: flex;

    flex-direction: column;

    border-style: none;
    background-color: transparent;
}

.tool-form .fileupload {
    background-color: transparent;
    border-style: none;
}

.togglebar {
    background-color: #252525;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.togglebar button {
    margin: 10px;
}

.previous {
    width: 64px;
    height: 64px;
    margin-right: auto;
}

input {
    background-color: #353535;
    color: white;
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .files {
        flex-direction: row;

        width: 100vw;
        height: 88vh;

        overflow: -moz-scrollbars-none;

        -ms-overflow-style: none;

        border-style:solid;
        border-radius: 10px;
    }

    .files::-webkit-scrollbar {
        width: 0 !important;
    }

    .togglebar {
        display: flex;

        flex-direction: row;

        width: 100vw;

        height: 10vh;

        margin: 0;
    }

    .tooltoggle {
        background-color: #252525;

        border-style: solid;

        display: block;

        flex: auto;

        width: auto;

        height: 10vh;
    }

    .toolset {
        display: none;

        background-color: #252525;

        height: 90vh;

        width: 100vw;

        padding: 12px;
    }

    .file, .folder {
        width: 100%;
        height: unset;
    }

    .file-preview {
        height: unset;
        width: 100%;
    }

    .tools {
        background-color: transparent;

        position: absolute;

        left: 0;

        top: 10vh;
        padding: 0;
    }

    .content {
        

        flex-direction: row;
    }

    .previous {
        height: 10vh;
        width: 10vh;
    }

    * {
        font-size: 18px;
    }
}