 <!doctype html>
 <html>

 <head>
    <link rel="StyleSheet" href="/css/public.css" type="text/css" />
        <meta name="viewport" content="width=device-width" />
<title>Example Title</title>
 </head>

 <body>
    
    <div class="navbar">
        <div class="logo"><img src="/images/logo.webp"></div>
        <button onclick="window.location.href='/'">Home</button>
        <div class="accounts">
            <button onclick="window.location.href='/register'">Register</button>
            <button onclick="window.location.href='/login'">Login</button>
        </div>
    </div>
    <div class="content">
        <div class="display">
    <div class="display" id="logo">
        <img src="/images/logo.webp">
    </div>

    <div class="display" id="files-stored">
        <div class="title" id="title">Files Stored</div>
                <div id="counter" class="info">{{fileCount}}</div>
            </div>
        </div>
        <div class="display" id="example">
            <div class="browser-border">
                <img style="max-height: 40vh; max-width: 40vw;" src="/images/example-desktop.webp">
            </div>
    </div>
    </div>
</body>
 </html>